h1 Carriages

p = link_to 'Compartment carriages', compartment_carriages_path
p = link_to 'Second class carriages', second_class_carriages_path
p = link_to 'SV carriages', sv_carriages_path
p = link_to 'Sit carriages', sit_carriages_path

= render @carriages