h2 Create a new carriage

p = select_tag :type_id, options_for_select(@types), class: 'form-control'

div = render 'admin/compartment_carriages/form', train: @train, carriage: @carriages[:compartment], hidden: true
div = render 'admin/second_class_carriages/form', train: @train, carriage: @carriages[:second_class], hidden: true
div = render 'admin/sit_carriages/form', train: @train, carriage: @carriages[:sit], hidden: true
div = render 'admin/sv_carriages/form', train: @train, carriage: @carriages[:sv], hidden: true