h2 = "#{t('mailers.tickets.destroy.sorry')}, #{@user.first_name}!"

p = t('mailers.tickets.destroy.info')

p = "#{@ticket.start_station.title}: #{@ticket.train.route.start_station_leave_time}"
p = "#{@ticket.end_station.title}: #{@ticket.train.route.end_station_arrive_time}"

p = t('mailers.tickets.destroy.footer')